.header-top {
	background: #262626;
}

.inner-header {
	width: 1110px;
	margin: 0 auto;
	padding: 37px 0 30px 0;
	overflow: hidden;
}

.logo {
	width: 107px;
	height: 33px;
	float: left;
}

.menu {
	float: right;
	margin-top: 9px;
}

.menu ul li {
	float: left;
	margin-left: 51px;
}

.menu ul li a {
	color: #d9d9d9;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.menu .active {
	color: #ff6760;
}

.menu a:hover {
	color: #ff6760;
}

.header-bottom {
	background: #2a2a2a;
}

.inner-header-bottom {
	width: 1110px;
	margin: 0 auto;
	text-align: center;
}

.inner-header-bottom h1 {
	font-size: 60px;
	color: #d9d9d9;
	padding-top: 62px;
}

.inner-header-bottom span {
	font-weight: bold;
}

.inner-header-bottom p {
	font-size: 40px;
	color: #d9d9d9;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 24px 0 24px;
}

.inner-header-bottom a {
	color: #d9d9d9;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.portfolio-btn {
	display: inline-block;
	background: #ff6760;
	padding: 19px 44px;
	border-radius: 5px;
	margin-bottom: 60px;
}

.sidebar {
	background: #f8f8f8;
}

.inner-sidebar {
	width: 1110px;
	height: 200px;
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 95px;
}

.post {
	width: 225px;
	text-align: center;
	float: left;
	margin-right: 39px;
}

.thumbnail img {
	height: 62px;
}

.post-content h3 {
	font-size: 18px;
	font-weight: bold;
	color: #616161;
	margin: 25px 0 20px 0;
}

.post-content p {
	font-size: 14px;
	line-height: 1.5;
	color: #878787;
}

.inner-works {
	width: 1110px;
	margin: 0 auto;
	text-align: center;
	padding-top: 95px;
	padding-bottom: 95px;
}

.works h2 {
	font-size: 30px;
	font-weight: bold;
	color: #616161;
	margin-bottom: 25px;
}

.works p {
	font-size: 20px;
	color: #b0b0b0;
	margin-bottom: 57px;
}

.btns a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.works-btn {
	display: inline-block;
	background: #ff6760;
	padding: 13px 19px;
	border-radius: 5px;
	margin-right: 7px;
	margin-bottom: 25px;
}

.works-btn:hover {
	color: #fff;
	background: #595959;
}

.works-img img {
	padding: 2px;
}

.footer-head {
	background: #313131;
}

.inner-footer-head {
	width: 1110px;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.inner-footer-head h2 {
	font-size: 30px;
	font-weight: bold;
	color: #e0e0e0;
	padding-bottom: 25px;
}

.inner-footer-head h5 {
	font-size: 20px;
	color: #acacac;
	padding-bottom: 25px;
}

.inner-footer-head p {
	font-size: 14px;
	color: #bebebe;
	padding-bottom: 29px;
}

.inner-footer-head p img,
.inner-footer-head a {
	margin-right: 7px;
}

.inner-footer-head span {
	margin-left: 35px;
}

.footer-bottom {
	background: #2c2c2c;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	color: #bebebe;
	font-size: 14px;
}